@model Survey

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionsCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.QuestionsCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Questions)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Question header</th>
                    <th>Answer type</th>
                </tr>
                @foreach (var item in Model.Questions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Header)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuestionType)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="AllSurveys">Back to List</a>
</div>
