@model IEnumerable<Question>

@{
    ViewData["Title"] = "GetQuestionsBySurveyId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Survey for company: @ViewData["company"]</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Header)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Header)

                @switch (item.QuestionType.Name)
                {
                        case QuestionTypes.Options:
                            @Html.RadioButtonFor(modelItem => item.Answers, "Yes")
                            break;
                        case QuestionTypes.Text:
                            @Html.RadioButtonFor(modelItem => item.Answers, "Yes")
                            @Html.RadioButtonFor(modelItem => item.Answers, "N0")
                            break;
                        case QuestionTypes.YesNo:
                            @Html.RadioButtonFor(modelItem => item.Answers, "Yes")
                            @Html.RadioButtonFor(modelItem => item.Answers, "No")
                            @Html.RadioButtonFor(modelItem => item.Answers, "NA")
                            break;
                }
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
