@model IEnumerable<AnswerViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Company> SignInManager
@inject UserManager<Company> UserManager

@{
    ViewData["Title"] = "Answers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Answers</h1>

@if (SignInManager.IsSignedIn(User))
{
    @foreach (var prt in Model)
    {
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => prt.participant.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => prt.participant.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => prt.participant.BirthDate)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => prt.participant.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => prt.participant.LastName)
            </td>
            <th>
                @Html.DisplayFor(model => prt.participant.BirthDate)
            </th>
        </tr>
    </tbody>
</table>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Question
                    </th>
                    <th>
                        Answer
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var answer in prt.Answers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => answer.Question.Header)
                        </td>
                        <td>
                            @if (answer.AnswerBool != null)
                            {
                                @if (answer.AnswerBool == true)
                                {
                                    <div>Yes</div>
                                }
                                else
                                {
                                    <div>No</div>
                                }
                            }
                            @if (answer.AnswerValue != null)
                            {
                                @Html.DisplayFor(modelItem => answer.AnswerValue)
                            }
                            @if (answer.AnswerText != null)
                            {
                                @Html.DisplayFor(modelItem => answer.AnswerText)
                            }

                        </td>
                    </tr>
                }
                </tbody>
        </table>
    }
}
else
{
    <p>The answers are not avalable please sign in.</p>
}
